.contain {
  width: 96%;
  border: solid 30px #f1f1f1;
  margin-left: 2%;
}

.outter_container {
  width: 95vw;
}

.please {
  margin-left: 10px;
  font-size: 15px;
}

.select {
  margin-left: 10px;
  font-size: 12px;
  width: 100px;
}

.circle {
  background-color: #d4ece9;
  border-radius: 50%;
  width: 80px;
  height: 120px;
  position: relative;
}

.circle img {
  width: 100%;
}

.name {
  margin-left: 25px;
  margin-top: 13px;
  font-size: 15px;
}

.hero-container {
  height: 60vh;
  margin-left: 42px;
  margin-bottom: -90px;
  position: relative;
}

.nav-menu {
  position: absolute;
  top: 902px;
}

.span1 {
  font-size: 12px;
}

.care {
  font-size: 12px;
  width: 250px;
}

.carepage {
  margin-left: 68px;
  width: 208px;
}

.btn--large {
  width: 148px;
}

.doctors {
  position: relative;
}

.vl {
  border-left: 1px solid #f1f1f1;
  position: absolute;
  height: 90%;
  left: 27%;
  top: 5.5%;
}

.vl_left {
  margin-left: -3%;
}

.row {
  margin-top: 824px;
  margin-left: 123px;
}

@media screen and (min-width: 768px) {
  .row {
    width: 32vw;
    margin-left: 30vw;
    margin-top: 5px;
  }

  .please {
    margin-left: 50px;
    font-size: 25px;
  }

  .select {
    margin-left: 50px;
    font-size: 18px;
    width: 120px;
  }

  .hero-container > h1 {
    font-size: 36px;
    margin-top: 25px;
  }

  .hero-container > p {
    font-size: 30px;
    width: 183px;
  }

  .nav-menu {
    width: 5vw;
    top: 130px;
    left: 10vw;
  }

  .span1 {
    font-size: 19px;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    margin-left: -5px;
  }

  .sh_left {
    margin-left: -20px;
  }

  .opposite {
    transform: rotate(180deg);
    margin-right: -20px;
  }

  .material-icons {
    font-size: 30px;
  }

  .leading {
    width: 30vw;
    margin-left: 13vw;
  }

  .please,
  .select {
    width: 25vw;
  }

  .hero-container > h1 {
    font-size: 45px;
    margin-top: 10px;
  }

  .hero-container > p {
    font-size: 40px;
  }

  .hero-btns .btn {
    font-size: 40px;
  }

  .nav-menu {
    margin-left: -1px;
    margin-top: 150px;
  }

  .span1 {
    font-size: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    width: 20vw;
    margin-left: 14vw;
  }

  .leading {
    margin-left: 25vw;
    margin-bottom: 100px;
    padding-top: 60px;
  }

  .circle img {
    position: absolute;
    width: 85%;
    height: 65%;
    top: 23px;
    left: 5px;
  }

  .left_side_bar {
    position: absolute;
    left: 70px;
  }

  .nav-menu {
    top: 100px;
    width: 300px;
  }

  .contain {
    width: 70%;
  }
}
