.contain {
  width: 96%;
  border: solid 30px #f1f1f1;
  margin-left: 2%;
}

.outter_container {
  width: 50vw;
  height: 80vh;
}

.please {
  margin-left: 10px;
  font-size: 15px;
}

.select {
  margin-left: 10px;
  font-size: 12px;
  width: 100px;
}

.circle {
  background-color: #d4ece9;
  border-radius: 50%;
  width: 80px;
  height: 120px;
}

.name {
  margin-left: 25px;
  margin-top: 13px;
}

.shape {
  display: none;
}

@media screen and (min-width: 768px) {
  .row {
    width: 32vw;
    margin-left: 4vw;
  }

  .please {
    margin-left: 50px;
    font-size: 25px;
  }

  .select {
    margin-left: 50px;
    font-size: 18px;
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    margin-left: -5px;
  }

  .shape {
    display: block;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 25%, #d0d7de 25%, #d0d7de 40%, 50%, #d0d7de 100%);
    border-radius: 30px / 50px;
    position: relative;
  }

  .sh_left {
    margin-left: -20px;
  }

  .shape_doctors {
    display: flex;
  }

  .opposite {
    transform: rotate(180deg);
    margin-right: -20px;
  }

  .material-icons {
    font-size: 30px;
  }

  .inner_left {
    position: absolute;
    top: 35px;
    left: 32px;
    transform: rotate(270deg);
  }

  .inner_right {
    position: absolute;
    top: 28px;
    left: 33px;
    transform: rotate(270deg);
  }

  .leading {
    width: 30vw;
    margin-left: 13vw;
  }

  .please,
  .select {
    width: 25vw;
  }

}

@media screen and (min-width: 1200px) {
  .row {
    width: 20vw;
    margin-left: 14vw;
  }

  .leading {
    margin-left: 25vw;
    margin-bottom: 100px;
    padding-top: 60px;
  }

  .inner_left,
  .inner_right {
    left: 41px;
  }
}
