.details {
  display: flex;
  justify-content: space-between;
}

.jRFJkP:hover,
.cNNJIt:hover {
  background-color: #84cc16 !important;
}

.text-carousel {
  color: lightslategray;
}

.please {
  margin-left: 10px;
  font-size: 15px;
}

.select {
  margin-left: 10px;
  font-size: 12px;
  width: 100px;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.circle-details {
  width: 60%;
  position: relative;
}

.circle-details img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.leading {
  justify-content: center;
}

.circle img {
  width: 100%;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}

.carousel-wrapper,
.controls-wrapper {
  width: 100%;
}

.doc-info {
  margin-top: 20px;
}

.paragraph {
  opacity: 0.5;
}

.hero-container {
  height: 60vh;
  margin-left: 42px;
  margin-bottom: -90px;
  position: relative;
}

.span1 {
  font-size: 12px;
}

.care {
  font-size: 12px;
  width: 250px;
}

.carepage {
  margin-left: 68px;
  width: 208px;
}

.btn--large {
  width: 148px;
}

.vl {
  border-left: 1px solid #f1f1f1;
  position: absolute;
  height: 90%;
  left: 27%;
  top: 5.5%;
}

.vl_left {
  margin-left: -3%;
}

.nav-menu {
  position: absolute;
  width: 100px;
  top: 92px;
  margin-left: 40px;
}

.image-div {
  margin: 0 20px;
}

.display_doctor {
  margin-left: 6%;
  margin-right: 2%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.display_doctor .btn {
  margin-left: auto;
}

.doc-data p {
  margin-bottom: 0;
  opacity: 0.5;
}

.doc-data h4 {
  text-align: center;
}

.amount {
  padding: 3px 5px;
  background-color: #f3f4f6;
}

.row-div {
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .details {
    flex-direction: column;
  }

  .circle-details,
  .doc-data {
    margin: 0 auto;
  }

  .doc-data {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .please {
    margin-left: 50px;
    font-size: 25px;
  }

  .select {
    margin-left: 50px;
    font-size: 18px;
    width: 120px;
  }

  .hero-container > h1 {
    font-size: 36px;
    margin-top: 25px;
  }

  .hero-container > p {
    font-size: 30px;
    width: 183px;
  }

  .name {
    text-align: center;
    border-bottom: 2px dotted;
    padding-bottom: 10px;
  }

  .nav-menu {
    width: 5vw;
    top: 130px;
    left: 10vw;
  }

  .span1 {
    font-size: 19px;
  }

  .display_doctor {
    font-size: 15px;
  }

  .add_doctor_form {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .leading {
    width: 30vw;
    margin-left: 13vw;
  }

  .please,
  .select {
    width: 25vw;
  }

  .hero-container > h1 {
    font-size: 45px;
    margin-top: 10px;
  }

  .hero-container > p {
    font-size: 40px;
  }

  .hero-btns .btn {
    font-size: 40px;
  }

  .nav-menu {
    margin-top: 150px;
    width: 251px;
    margin-left: 112px;
    top: -23px;
  }

  .span1 {
    font-size: 27px;
  }

  .display_doctor {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .leading {
    margin-left: 25vw;
    margin-bottom: 30px;
  }

  .left_side_bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-menu {
    width: 251px;
    margin-left: 44px;
    top: -14px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .leading div {
    display: none;
  }

  .paragraph {
    margin-left: 20px;
  }

  .parent-container .nav-menu-mobile {
    display: none;
  }
}
