.side-menu {
  position: fixed;
  top: 55px;
  height: 100vh;
  left: 0;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e7e5e4;
}

.link {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-weight: 800;
  text-decoration: none;
}

/* Change the link color on hover */
.link:hover {
  background-color:#84cc16;
  color: white;
}

@media screen and (max-width: 768px) {
  .side-menu {
    display: none;
  }
}