.side-menu {
  position: relative;
  flex-direction: column;
  height: 100vh;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e7e5e4;
}

.link {
  display: block;
  color: #525252;
  padding: 8px 16px;
  font-weight: 800;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons * {
  cursor: pointer;
}

.social {
  align-items: center;
  position: absolute;
  bottom: 20%;
  margin-left: 5%;
}

/* Change the link color on hover */
.link:hover {
  background-color: #84cc16;
  color: white;
}

@media screen and (max-width: 768px) {
  .side-menu {
    display: none;
  }
}
