.appointment_header {
  font-size: 18px;
  margin-left: 12px;
}

.my-appointment {
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
    0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  padding: 15px;
  border-radius: 8px;
  width: 80%;  
}

.appointment {
  font-size: 10px;
  margin-bottom: 9px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3.5%),
  0 0.9375rem 1.40625rem rgb(4 9 20 / 5%),
  0 0.25rem 0.53125rem rgb(4 9 20 / 5.5%),
  0 0.125rem 0.1875rem rgb(4 9 20 / 3.5%);
  padding: 15px;
  border-radius: 8px;
}

.mobile_container {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {  
  .appointment {
    font-size: 17px;
  }
  
  .appointment_header {
    font-size: 30px;
    margin-left: 1px;
  }
}