<div class="hero-container">
      <h1>EXCEPTIONAL CARE TO YOU</h1>
      <p>Book a an appointment today</p>
      <div className="hero-btns">
        <Button
          class="btns">
          GET STARTED
        </Button>
      </div>
</div>