@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

body {
  height: 100vh;
  background: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

$primary-color-dark: #e2e8f0;
$primary-color: #f1f5f9;
$primary-color-light: #64748b;
$primary-color-text: #212121;
$divider-color: #bdbdbd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 48px 16px 20px;
  color: $primary-color-light;

  a {
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
  }

  .active a {
    color: #84cc16;
  }

  a:hover {
    color: #84cc16;
  }

  .menu {
    width: 50%;
    justify-content: space-between;

    .menu-item {
      float: left;
      margin: 0 15px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.notice,
.alert {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.delete {
  background-color: #f00;
}

.request,
.profile {
  background-color: #1e40af !important;
}

.request,
.delete,
.profile {
  padding: 5px 8px;
  color: #fff;
  border-radius: 3px;
}

.alert {
  background-color: #f6cfc6;
}

.errors {
  font-size: 10px;
  color: red;
}

.new_post,
.new_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }

  .btn-primary {
    width: 100%;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}

form {
  width: 80%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-dark;
    }

    input[type="checkbox"] {
      width: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
  }

  input[type="submit"]:hover {
    background-color: $primary-color;
    color: #cbd5e1;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.timeline {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 8px 0;
  }

  .posts {
    width: 100%;
  }

  .post {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
  }

  .post-attribution {
    float: left;

    .post-author {
      margin: 0 0 8px 0;
      color: $primary-color-dark;
      text-transform: capitalize;
    }
  }

  .post-liking {
    float: right;

    a {
      color: $primary-color-dark;
      font-weight: bold;
      font-size: 0.9em;
      margin: 0 4px;
    }

    .post-date {
      font-size: 0.6em;
    }
  }

  .post-content {
    font-size: 1.1em;
    padding: 4px 0;
  }

  .post-comments-section {
    margin: 5px;
    width: 90%;
    margin-left: 10%;

    .post-comments {
      position: relative;
      display: flex;
      border-bottom: 1px solid $divider-color;
      border-radius: 3px;
      margin-bottom: 2px;
      padding: 10px;

      p {
        font-size: 0.8em;
        width: 90%;
      }

      span {
        position: absolute;
        right: 3px;
        font-size: 0.6em;
      }
    }
  }
}

.users-section {
  width: 100%;
  margin: 10px;

  .users-list li {
    margin-bottom: 16px;
    text-transform: capitalize;
    font-size: 1.2em;
  }

  .profile-link {
    font-size: 0.8em;
    margin: 0 0 8px 0;
    color: $primary-color-dark;
  }
}

.user-section {
  width: 100%;
  margin-left: 16px;

  h2 {
    text-transform: capitalize;
  }

  .timeline {
    width: 100%;

    h3 {
      width: 100%;
    }

    justify-content: start;
  }
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#error_explanation {
  h2 {
    color: $primary-color-text;
    font-size: 1em;
  }

  ul {
    color: #f00;
  }
}

@media only screen and (min-width: 480px) {
  form {
    width: 60%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}

@media (min-width: 780px) {
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }

  form {
    width: 40%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 50%;
  }
}

:root {
  --primary: #97bf0f;
}

.btn {
  padding: 8px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #97bf0f;
  color: #fff;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 20px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .nav-text a {
    text-decoration: none;
    color: #474747;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  body {
    overflow-y: scroll;
  }

  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
}

.btn--medium:hover,
.btn--large:hover {
  background-color: #fff;
  color: #97bf0f;
  transition: all 0.3s ease-in-out;
}

.navbar {
  background-color: #fff;
  color: #474747;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icons {
  color: #474747;
}

.menu-bars {
  color: #141414;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a:hover {
  background-color: #97bf11;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #97bf11;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.span1 {
  margin-left: 16px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.jRFJkP:hover,
.cNNJIt:hover {
  background-color: #84cc16 !important;
}

.text-carousel {
  color: lightslategray;
}

.please {
  margin-left: 10px;
  font-size: 15px;
}

.select {
  margin-left: 10px;
  font-size: 12px;
  width: 100px;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.circle-details {
  width: 60%;
  position: relative;
}

.circle-details img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.leading {
  justify-content: center;
}

.circle img {
  width: 100%;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}

.carousel-wrapper,
.controls-wrapper {
  width: 100%;
}

.doc-info {
  margin-top: 20px;
}

.paragraph {
  opacity: 0.5;
}

.hero-container {
  height: 60vh;
  margin-left: 42px;
  margin-bottom: -90px;
  position: relative;
}

.span1 {
  font-size: 12px;
}

.care {
  font-size: 12px;
  width: 250px;
}

.carepage {
  margin-left: 68px;
  width: 208px;
}

.btn--large {
  width: 148px;
}

.vl {
  border-left: 1px solid #f1f1f1;
  position: absolute;
  height: 90%;
  left: 27%;
  top: 5.5%;
}

.vl_left {
  margin-left: -3%;
}

.nav-menu {
  position: absolute;
  width: 100px;
  top: 92px;
  margin-left: 40px;
}

.image-div {
  margin: 0 20px;
}

.display_doctor {
  margin-left: 6%;
  margin-right: 2%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.display_doctor .btn {
  margin-left: auto;
}

.doc-data p {
  margin-bottom: 0;
  opacity: 0.5;
}

.doc-data h4 {
  text-align: center;
}

.amount {
  padding: 3px 5px;
  background-color: #f3f4f6;
}

.row-div {
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .details {
    flex-direction: column;
  }

  .circle-details,
  .doc-data {
    margin: 0 auto;
  }

  .doc-data {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .please {
    margin-left: 50px;
    font-size: 25px;
  }

  .select {
    margin-left: 50px;
    font-size: 18px;
    width: 120px;
  }

  .hero-container > h1 {
    font-size: 36px;
    margin-top: 25px;
  }

  .hero-container > p {
    font-size: 30px;
    width: 183px;
  }

  .name {
    text-align: center;
    border-bottom: 2px dotted;
    padding-bottom: 10px;
  }

  .nav-menu {
    width: 5vw;
    top: 130px;
    left: 10vw;
  }

  .span1 {
    font-size: 19px;
  }

  .display_doctor {
    font-size: 15px;
  }

  .add_doctor_form {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .leading {
    width: 30vw;
    margin-left: 13vw;
  }

  .please,
  .select {
    width: 25vw;
  }

  .hero-container > h1 {
    font-size: 45px;
    margin-top: 10px;
  }

  .hero-container > p {
    font-size: 40px;
  }

  .hero-btns .btn {
    font-size: 40px;
  }

  .nav-menu {
    margin-top: 150px;
    width: 251px;
    margin-left: 112px;
    top: -23px;
  }

  .span1 {
    font-size: 27px;
  }

  .display_doctor {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .leading {
    margin-left: 25vw;
    margin-bottom: 30px;
  }

  .left_side_bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-menu {
    width: 251px;
    margin-left: 44px;
    top: -14px;
    height: 300px;
  }
}

.appointment_header {
  font-size: 18px;
  margin-left: 12px;
}

.my-appointment {
  box-shadow:
    0 0.46875rem 2.1875rem gray,
    0 0.9375rem 1.40625rem maroon,
    0 0.25rem 0.53125rem brown,
    0 0.125rem 0.1875rem w;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
}

.appointment {
  font-size: 10px;
  margin-bottom: 9px;
  box-shadow:
    0 0.46875rem 2.1875rem rgb(4 9 20 / 3.5%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 5%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5.5%),
    0 0.125rem 0.1875rem rgb(4 9 20 / 3.5%);
  padding: 15px;
  border-radius: 8px;
}

.mobile_container {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .appointment {
    font-size: 17px;
  }

  .appointment_header {
    font-size: 30px;
    margin-left: 1px;
  }
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.submit-appointment-div {
  margin-top: 2%;
}

.submit-appointment {
  width: 42%;
}

.time-select {
  padding: 3px;
}

.date-input {
  margin-right: 20px;
}

.close-icon {
  margin: auto;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
}

.side-menu {
  position: relative;
  flex-direction: column;
  height: 100vh;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e7e5e4;
}

.link {
  display: block;
  color: #525252;
  padding: 8px 16px;
  font-weight: 800;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons * {
  cursor: pointer;
}

.social {
  align-items: center;
  position: absolute;
  bottom: 20%;
  margin-left: 5%;
}

/* Change the link color on hover */
.link:hover {
  background-color: #84cc16;
  color: white;
}

@media screen and (max-width: 768px) {
  .side-menu {
    display: none;
  }
}

.add-doctor {
  justify-content: center;
  align-items: center;
}

.side_add_doctor {
  margin-right: 5px;
}

.inner-div {
  width: 60%;
  box-shadow:
    0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
    0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  padding: 15px;
  border-radius: 8px;
}

.btn,
.form-group {
  margin-top: 10px;
}

.add_doctor_form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .add-doctor {
    display: none;
  }
}
























